.card-title{
    background-color: rgb(235, 16, 16);
    color: rgb(0, 0, 0);
    height: 35px;
    }
 img{
height: 300px;
width: 300px;
 }   
 header{
height: 150px;
color: white;
text-align: center;
background-image: url(kepek/minimalis.jpg);
 }
 h1{
padding-top: 40px;
 }
 
.card-body{
border: 10px;
border-style: solid;
border-color: rgb(185, 21, 21);
}
.card-body{
border: 3px;
border-style: double;
border-color: rgb(51, 49, 49);
}
div{
border: 5px;
border-style: solid;
border-color: rgb(87, 82, 82);
}
